# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [83]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp
#import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('/Users/user/lab-two-sample-hypothesis-tests/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [17]:
legendario = pokemon[pokemon['Legendary']==True]
no_legendario = pokemon[pokemon['Legendary']==False]

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [13]:
# Your code here:
mean_pokemon_legendario = pokemon[pokemon['Legendary']==True]['Total'].mean()
std_pokemon_legendario = pokemon[pokemon['Legendary']==True]['Total'].std()
mean_pokemon_nolegendario = pokemon[pokemon['Legendary']==False]['Total'].mean()
std_pokemon_nolegendario = pokemon[pokemon['Legendary']==False]['Total'].std()

In [14]:
print(mean_pokemon_legendario,std_pokemon_legendario,mean_pokemon_nolegendario,std_pokemon_nolegendario)

637.3846153846154 60.93738905315344 417.21360544217686 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
#prueba T para las medias de dos muestras independientes de puntuaciones.
ttest_ind(legendario.Total, no_legendario.Total, equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [26]:
# Your conclusions here:
# Al ser p-value un valor demasiado pequeño (menor a 0.05) entonces podemos rechazar la hipotesis nula, es decir 
# las 2 muestras independientes NO tienen valores promedio idénticos

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [27]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [56]:
#En todo este código loque se hace es comparar cada uno de los tipos de pokemon con los resultados de pokemon water
std_water = pokemon[pokemon['Type 1']=='Water']['Total'].std()
mean_water = pokemon[pokemon['Type 1']=='Water']['Total'].mean()

In [43]:
print(std_water,mean_water)

113.1882660643146 430.45535714285717

In [44]:
lista_mean = pokemon.groupby('Type 1')[['Total']].mean()
lista_std = pokemon.groupby('Type 1')[['Total']].std()

In [52]:
lista_mean['comparacion'] = mean_water
lista_std['comparacion'] = std_water

In [62]:
lista_mean , lista_std

(               Total  comparacion
 Type 1
 Bug       378.927536   430.455357
 Dark      445.741935   430.455357
 Dragon    550.531250   430.455357
 Electric  443.409091   430.455357
 Fairy     413.176471   430.455357
 Fighting  416.444444   430.455357
 Fire      458.076923   430.455357
 Flying    485.000000   430.455357
 Ghost     439.562500   430.455357
 Grass     421.142857   430.455357
 Ground    437.500000   430.455357
 Ice       433.458333   430.455357
 Normal    401.683673   430.455357
 Poison    399.142857   430.455357
 Psychic   475.947368   430.455357
 Rock      453.750000   430.455357
 Steel     487.703704   430.455357
 Water     430.455357   430.455357,
                Total  comparacion
 Type 1
 Bug       117.875223   113.188266
 Dark      109.126217   113.188266
 Dragon    146.267538   113.188266
 Electric  105.721952   113.188266
 Fairy     123.781680   113.188266
 Fighting  102.464378   113.188266
 Fire      109.760496   113.188266
 Flying    161.400124   113.188266
 Ghost     110.072685   113.188266
 Grass     106.650626   113.188266
 Ground    123.913081   113.188266
 Ice       108.281027   113.188266
 Normal    115.733038   113.188266
 Poison     92.358687   113.188266
 Psychic   139.026645   113.188266
 Rock      108.059227   113.188266
 Steel     115.420907   113.188266
 Water     113.188266   113.188266)

In [63]:
# Otra solucion, ejecutada por Lupita donde podemos hacer un for por cada uno de los tipos de pokemon y compararlos
#con water
#type1_pok = pokemon['Type 1'].unique()
#stats_pokemon = pd.DataFrame(index=['mean', 'std'])
#col_names = []
#for type1 in type1_pok :
#        type1_mean = pokemon[pokemon['Type 1']==type1]['Total'].mean()
#        type1_std=pokemon[pokemon['Type 1']==type1]['Total'].std()
#        col = pd.DataFrame([type1_mean, type1_std],index=['mean', 'std'])
#        #col_names.append(type1)
#        stats_pokemon = pd.concat([stats_pokemon, col],axis=1)
#        #print(type1_mean, type1_std)
#stats_pokemon.columns= type1_pok     
#stats_pokemon

In [57]:
#aqui solo sacamos un resultado agrupando a los tipos de pokemon diferentes a pokemon water
std_nowater = pokemon[pokemon['Type 1'] !='Water']['Total'].std()
mean_nowater = pokemon[pokemon['Type 1'] !='Water']['Total'].mean()

In [60]:
print(f'la media de los pokemon de agua: {mean_water}, la media de los pokemon que NO son de agua: {mean_nowater}, el std de los pokemon agua: {std_water}, el std de los pokemon que NO son de agua: {std_nowater}')

la media de los pokemon de agua: 430.45535714285717, la media de los pokemon que NO son de agua: 435.85901162790697, el std de los pokemon agua: 113.1882660643146, el std de los pokemon que NO son de agua: 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [67]:
# Your code here:
water = pokemon[pokemon['Type 1'] == 'Water']
nowater = pokemon[pokemon['Type 1'] != 'Water']

In [72]:
ttest_ind(water.Total,nowater.Total)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [74]:
# Your conclusions here:
# Como el Pvalue es mas grande que 0.05, entonces ACEPTAMOS la hipótesis nula

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [76]:
# Your code here:
ttest_rel(pokemon.Attack,pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [77]:
# Your conclusions here:
# Al ser el pvalue MENOR a 0.05 rechazamos la hipótesis de que los puntajes entre defensa y ataque son los mismos

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [80]:
pokemon.columns = ['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'SpAtack', 'SpDefensa', 'Speed', 'Generation', 'Legendary']

In [82]:
# Your code here:
ttest_rel(pokemon.SpAtack,pokemon.SpDefensa)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#Al ser el Pvalue MAYOR a 0.05 entonces aceptamos la hipótesis nula

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [90]:
# Your code here:


one_sample = ttest_1samp(pokemon.Attack-pokemon.Defense,0)
print ("The t-statistic is %.15f and the p-value is %.15f." % one_sample)

The t-statistic is 4.325566393330478 and the p-value is 0.000017140303479.

In [ ]:
# Al ser el Pvalue MENOR a 0.05, se rechaza la hipótesis nula, es decir la diferencia entre las medias de defensa
# y ataque NO es igual a CERO

In [91]:
pokemon.Attack.mean()-pokemon.Defense.mean()

5.158749999999998

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: